body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(4, 31, 84);
    color: rgb(190, 190, 190);
}

.hed{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 400;
    
}

p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
